* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



footer {
    background-color: lightgray;
  //  background-color: #9b9b9b;
    padding: 20px;

       .footer-wrapper {
              display: flex;
              justify-content: center;
              align-items: center;
              min-height: 20vh;

       }
    
}

header {
  //  background-color: lightgray;
    background-color: #1c1c1c;

    .header-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 10vh;
    }      

}

.home-total {
    min-height: 100vh;
}


.color-container-total {
    width: 100%;
   
    .color-container-wrapper {
        display: grid;
        grid-template-columns: repeat(3,150px);
        padding: 60px 0;
        grid-gap: 39px;
      //  align-items: center;
        min-height: 100vh;
        width: 60%;
        margin: auto;
        justify-content: center;
        align-items: center;
        align-content: flex-start;
        padding-top: 5%;

        .color_box {
            height: 150px;
            background-color: black;
            border-radius: 39px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            cursor: pointer;
        }
    }

}



      .lives-container {
          width: 100%;
          background-color: lightgray;

          .lives-wrapper {
              width: 80%;
              margin: auto;
              min-height: 20vh;

              display: flex;
              justify-content: space-around;
              align-items: center;
          }
      }


      .makeStyles-root-1 {
        display: flex;
        justify-content: center;
        margin: 50px 0;
    }